
.ant-btn {
    &.button {
        height: unset;
        padding: 5px 10px;
        background: white;
        border: 2px solid black;
        font-weight: 600;
        font-size: 16px;
        cursor: pointer;

        &.primary {
            background: #3892C6;
            color: white;
            border: 2px solid #3892C6;
        }

        &.rounded {
            border-radius: 8px;
        }

        &.primary {
            &:hover {
                background: white;
                color: #3892C6;
                border: 2px solid #3892C6;
            }
        }

        &.secondary {
            background: white;
            color: #3892C6;
            border: 2px solid #3892C6;
        }

        &.secondary {
            &:hover {
                background: white;
                color: black;
                border: 2px solid black;
            }
        }

        &.success {
            background: rgb(11, 128, 11);
            color: white;
            border: 2px solid rgb(11, 128, 11);
        }

        &.success {
            &:hover {
                background: white;
                color: rgb(11, 128, 11);
                border: 2px solid rgb(11, 128, 11);
            }
        }

        &.danger {
            background: crimson;
            color: white;
            border: 2px solid crimson;
        }

        &.danger {
            &:hover {
                background: white;
                color: crimson;
                border: 2px solid crimson;
            }
        }
    }
}