.wf-card{
    &.ant-card{
        .ant-card-head{
            background: #3892C6;
            color: white;
        }
        .ant-card-body{
            padding: 0;
        }
        border: 0.5px solid #3892C6;
    }
}