.ant-form{
    &.wf_form{
        label{
            color: #3892C6;
        }
        .ant-input{
            border:1px solid #3892C6;
        }
        #password{
            border: none;
        }
        #confirm-password{
            border: none;
        }
        .ant-input-password{
            border:1px solid #3892C6;
        }
    }
}