@use "tailwindcss";
@use "./styles/_button.scss";
@use "./styles/_form.scss";
@use "./styles/_card.scss";
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

*, .ant-typography, a, p, span{
    font-family: "Bricolage Grotesque", sans-serif !important;
    letter-spacing: .05em;
}
a {
    text-decoration: none;
    color: black;
}

.text{
    &.primary{
        color:#3892C6;
    }
    &.danger{
        color: crimson;
    }
}