.ant-drawer {
    .ant-drawer-content-wrapper {
        width: 100% !important;
    }
}

.navMenu {
    .menu-item {
        font-size: 1.06em;
        transition: all 0.3s linear;
        color:black;
        &:after {
            content: "";
            width: 0%;
            height: .2em;
            background: #3892C6;

            position: absolute;
            bottom: -5px;
            left: 0;
            transition: width 0.3s linear;
        }

        &:hover {
            color: #3892C6;

            &:after {
                content: "";
                width: 100%;
                height: .2em;
                background: #3892C6;

                position: absolute;
                bottom: -5px;
                left: 0;

            }
        }
    }
}

.ant-collapse{
    &.menu-collapse{
        .ant-collapse-header{
            padding: 0 !important;
            font-size: 1.06em;
        }
        .ant-collapse-content-box{
            padding:10px 0 0 0 !important;
            .sub-menu{
                text-transform: capitalize;
                padding: 15px !important;
            }
        }
    }
}